@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;600;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import 'account_form';

body {
  font-family: "Dosis", sans-serif;
  font-size: .8rem;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

